<div class="bg-white dark:bg-gray-800">
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-3xl">ゴママヨサラダ</h2>
      </div>
      <div class="lg:col-span-2 links">
        <h2>『ゴママヨサラダ』とは</h2>
        <div class="bodyText">
          <p>言葉遊びのひとつ。<br>ある複合語の中に連続する同じ音が含まれている状態、またその複合語のことを指します。</p>例：
          <ul>
            <li>ゴママヨ</li>
            <li>安田大サーカス</li>
            <li>福山雅治さん</li>
            <li>世話やきキツネの仙狐さん</li>
            <li>サイレンススズカ</li>
            <li>長期金利</li>
          </ul>
          <a href="https://twitter.com/5004salad">ゴママヨサラダ公式Twitterアカウント</a>
        </div>
        <h2>オプショナルゴママヨ</h2>
        <div class="bodyText">
          <p>ゴママヨにはいくつかのオプションが存在しています。<br>純粋なゴママヨ（以下「バニラゴママヨ」）は1モーラ単位で連続性を評価しますが、以下のオプショナルゴママヨでは定義を拡張し、より深い芸術性、競技性が図られています。
          </p>
          <ul>
            <li>高次ゴママヨ</li>
            連続性の評価対象を複数モーラに限定します。<br>バニラゴママヨ（1次ゴママヨ）では1モーラが連続した時点でゴママヨと判定されますが、2モーラ以上の単位が連続した場合高次ゴママヨとして判定されます。<br>バニラゴママヨと比べ、一般的に探索がより困難になります。<br>例：
            <ul>
              <li>博麗霊夢</li>
              <li>株式公開買い付け</li>
            </ul>
            <li>ゴママヨ四字熟語</li>
            ゴママヨの四字熟語。<br>ちなみに「ゴママヨ四字熟語」はゴママヨです。<br>例：
            <ul>
              <li>自己肯定</li>
              <li>千載一遇</li>
              <li>投資信託</li>
              <li>消火活動</li>
              <li>銀行口座（高次）</li>
            </ul>
            <li>ビジュアルゴママヨ</li>
            バニラゴママヨ及び高次ゴママヨでは<a
            href="https://ja.wikipedia.org/wiki/%E3%83%A2%E3%83%BC%E3%83%A9">モーラ</a>を1単位として連続判定を行いますが、ビジュアルゴママヨでは名前の通りビジュアル（視覚上）で連続性が評価されます。<br>例：
            <ul>
              <li>King Gnu</li>
              <li>診療受付</li>
            </ul>
            <li>架空ゴママヨ（<strong>公式に非推奨</strong>）</li>
            ゴママヨは偶発的な遭遇を楽しむものです。人工的に意図して作り出すのは、<strong>非常におこがましいことだ</strong>と思います。
          </ul>
        </div>
        <h2>ゴママヨキャンセル</h2>
        <div class="bodyText">
          <p>連続する音をマージしゴママヨを回避すること。またそうされた言葉。
          <ul>
            <li>シネマイレージカード</li>
            <li>ニコニ広告</li>
            <li>ニコニ・コモンズ</li>
            <li>ニコニコミュニティ</li>
            <li>熱さまシート</li>
            <li>テレビデオ</li>
          </ul>
          というか「世話やきキツネの仙狐さん」とか絶対発音しづらいし常識的な発想として言いづらさを解消するついでにちょっとひねって「世話焼きつねの仙狐さん」にするよね。それをあえてしないのってかっこいいというか、次世代だよね。みたいな流れでゴママヨが誕生しました。
        </div>
        <h2>ゴママヨマーケティング</h2>
        <div class="bodyText">
          ゴママヨ人口は2021年3月時点で200人弱いると思われます。その巨大なゴママヨ市場をターゲット層とし、プロダクトの名称にゴママヨを取り入れることで商品シェアを拡大させる手法がゴママヨマーケティングです。<br><a
          href="https://mist-train-girls.com">ミストトレインガールズ</a>（「ト」が連続している）、<a
          href="https://grayraven.jp">パニシング：グレイレイヴン</a>（「グ」がゴママヨ、また「レイ」が高次ゴママヨ）など、各業界で続々と展開されています。
        </div>
        <h2>gomamayo.js</h2>
        <div class="bodyText">
          <code>$ npm i gomamayo-js</code><br>Javascriptソフトウェア向けのnpmパッケージ<a
          href="https://www.npmjs.com/package/gomamayo-js">gomamayo.js</a>を開発中です。<br>リポジトリ: <a
          href="https://github.com/ThinaticSystem/gomamayo.js">GitHub</a><br><br>bot等にどうぞ。
        </div>
        <h2>『ゴママヨ』（楽曲）</h2>
        <div class="bodyText">
          ゴママヨサラダを題材にしなちくシステムが作った曲<br>
          <iframe allow="encrypted-media" allowtransparency="true" frameborder="0" height="380"
                  src="https://open.spotify.com/embed/track/5ddhOCq4h7VEH8V9UerOtS" width="300"></iframe>
          <br>
          <a href="https://linkco.re/dqmEc3BB?lang=ja">各種音楽配信サービス</a>にて配信中
        </div>
      </div>
    </div>
  </div>
</div>
