main {
  display: inline-block;
  max-width: 24rem;
  text-align: left;
  background-color: #C0C0B0;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 1.8rem;
  text-align: center;
  background-color: #C0A080;
}

.bodyText {
  padding: 0 1rem 2rem 1rem;
}

iframe {
  width: 100%;
}
