<main>
  <h1>Discography</h1>
  <div id='bodie'>
    <ol id='discList'>
      <ng-template ngFor [ngForOf]="discographies | orderBy: 'release': true" let-data>
        <li id='qbng'>
          <h2>{{ data.title }}</h2>
          <div class='discMetadata'>
            <ng-template ngFor [ngForOf]="data.discographyDemoComponent" let-demo>
              <div class="title">{{ demo.title }}</div>
              <div class="body" [innerHTML]="getIframe(demo.iframe)"></div>
            </ng-template>
            <ng-template ngFor [ngForOf]="data.detailComponent" let-detail>
              <div class="title">{{ detail.title }}</div>
              <a class="body" *ngIf="detail.url" [href]="detail.url">{{ detail.body }}</a>
              <div class="body" *ngIf="!detail.url">{{ detail.body }}</div>
            </ng-template>
          </div>
      </ng-template>
    </ol>
  </div>
</main>
