main {
  display: inline-block;
  width: 24rem;
  margin-left: calc(50vw - 24rem /2);
  margin-right: calc(50vw - 24rem /2);
  text-align: left;
  background-color: #C0C0B0;
  background-color: #bd5050;
}

h1 {
  margin: 0 0 0.3rem 0;
  color: white;
  background: #bd5050;
  color: white;
}

h2 {
  margin: 0;
  font-size: 1.8rem;
  background-color: #dcaa6b;
  color: #293535;
}

.css-br::after {
  content: '\A';
  white-space: pre;
}

#discList {
  margin: 0;
  padding-left: 2rem;
  width: 22rem;
  list-style: none;
}

.discMetadata {
  margin-bottom: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #DAC69A;
}

#discList > li:last-child > .discMetadata {
  margin-bottom: 0;
}

.demo > iframe {
  vertical-align: top;
  width: 100%;
}

.prefix::after {
  content: '様';
}

main p {
  margin: 0;
}

.discMetadata {
  list-style-type: none;

  > {
    li {
      padding-left: 5.7rem;
      text-indent: -5.7rem;
    }

    .demo:before {
      content: "🎧Demo:";
      padding: 0 1rem 0 0;
    }

    .detail:before {
      content: "🔍Detail:";
      padding: 0 1.1rem 0 0;
    }

    .release:before {
      content: "📅Release:";
      padding: 0 0.2rem 0 0;
    }

    .place:before {
      content: "📍Place:";
      padding: 0 1.6rem 0 0.3rem;
    }

    .circle:before {
      content: "🏢Circle:";
      padding: 0 1.2rem 0 0;
    }

    .resale:before {
      content: "💿Resale:";
      padding: 0 0.8rem 0 0;
    }

    .dl:before {
      content: "⬇DL:";
      padding: 0 3rem 0 0.4rem;
    }
  }
}
