main {
  display: inline-block;
  width: 24rem;
  text-align: left;
  background-color: #C0C0B0;
  background-color: #bd5050;
}

h1 {
  margin: 0 0 0.3rem 0;
  color: white;
  background: #bd5050;
  color: white;
}

h2 {
  margin: 0;
  font-size: 1.8rem;
  background-color: #dcaa6b;
  color: #293535;
}

.css-br::after {
  content: '\A';
  white-space: pre;
}

#discList {
  margin: 0;
  padding-left: 2rem;
  width: 22rem;
  list-style: none;
}

#discList>li:last-child>.discMetadata {
  margin-bottom: 0;
}

.demo>iframe {
  vertical-align: top;
  width: 100%;
}

main p {
  margin: 0;
}

.discMetadata {
  display: grid;
  grid-template-columns: auto 1.3fr;
  gap: 0px 20%;
  grid-auto-flow: row;

  margin-bottom: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #DAC69A;
}
