	<main>
		<h1>Discography</h1>
		<div id='bodie'>
			<ol id='discList'>
				<li id='qbng'>
					<h2>九尾、凪ぐ。</h2>
					<ul class='discMetadata'>
						<li class='demo'>
							<!--
							-->Album<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
								src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/911614594&color=%23bf2a15&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
							<div
								style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
								<a href="https://soundcloud.com/dot-h-1" title="Riku" target="_blank"
									style="color: #cccccc; text-decoration: none;">Riku</a> · <a
									href="https://soundcloud.com/dot-h-1/utriz6b7eqbm" title="九尾、凪ぐ。（くろすふぇえどでも）"
									target="_blank" style="color: #cccccc; text-decoration: none;">九尾、凪ぐ。（くろすふぇえどでも）</a>
							</div>Track<iframe src="https://open.spotify.com/embed/track/5OkcBpFUdMIVYpjc88RMC6"
								width="300" height="380" frameborder="0" allowtransparency="true"
								allow="encrypted-media"></iframe>
						</li>
						<li class='detail'><a href='https://ki-tunes.tumblr.com/' target='_blank'>九尾、凪ぐ。</a></li>
						<li class='release'><time>2020-10-25</time></li>
						<li class='place'><a href='http://www.m3net.jp/attendance/' target='_blank'>M3-2020秋</a>(C-25)
						</li>
						<li class='circle'><span class='prefix'><a href='https://twitter.com/lemon_beads'
									target='_blank'>からふるでいず！！+</a></span></li>
						<li class='dl'>
							<!--
								--><a href='https://artist.landr.com/music/672985586000' target='_blank'>デジタルリリース一覧</a><br>
							<!--
							-->
						</li>
					</ul>

				<li id='fluffyFriend'>
					<h2>fluffy friend</h2>
					<ul class='discMetadata'>
						<li class='demo'>
							<!--
								-->Album<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
								src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/698166637&color=%23ca96ac&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>Track<iframe
								width="560" height="315" src="https://www.youtube-nocookie.com/embed/EDfYEwWGhlg"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe><iframe width="100%" height="300" scrolling="no"
								frameborder="no" allow="autoplay"
								src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/694281055&color=%23cdcf83&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
						</li>
						<li class='detail'><a href='https://lemonbeads-fluffyfriend.tumblr.com/' target='_blank'>fluffy
								friend - Citrus Mixture[Average:136]</a></li>
						<li class='release'><time>2019-10-27</time></li>
						<li class='place'><a href='http://www.m3net.jp/attendance/' target='_blank'>M3-2019秋</a>(K-21b)
						</li>
						<li class='circle'><span class='prefix'><a href='https://twitter.com/lemon_beads'
									target='_blank'>Citrus Mixture[Average:136]</a></span></li>
						<li class='resale'>
							<!--
								--><a href='https://www.melonbooks.co.jp/detail/detail.php?product_id=578409'
								target='_blank'>Melonbooks</a><br>
							<!--
							-->
						</li>
						<li class='dl'>
							<!--
								--><a href='https://lemonbeads.booth.pm/items/1647523' target='_blank'>BOOTH</a><br>
							<!--
							-->
						</li>
					</ul>
				</li>
				<li id='vel'>
					<h2>Vél</h2>
					<ul class='discMetadata'>
						<li class='demo'>
							<!--
								-->Album<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
								src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/605629287&color=%2382b28e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>Track<iframe
								width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
								src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/607260168&color=%2382b28e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
						</li>
						<li class='detail'><a href='https://tkcd-0005.tumblr.com/' target='_blank'>Vél - toyKasket</a>
						</li>
						<li class='release'><time>2019-04-28</time></li>
						<li class='place'><a href='http://www.m3net.jp/attendance/' target='_blank'>M3-2019春</a>(キ-01b)
						</li>
						<li class='circle'><span class='prefix'><a href='https://toykasket.net/'
									target='_blank'>toyKasket</a></span></li>
						<li class='resale'>
							<!--
								--><a href='https://diverse.direct/toykasket/tkcd-0005/' target='_blank'>Diverse Direct</a><br>
							<!--
								--><a href='https://www.melonbooks.co.jp/detail/detail.php?product_id=497655'
								target='_blank'>Melonbooks</a><br>
							<!--
								--><a href='https://www.tanocstore.net/shopdetail/000000001940' target='_blank'>TANO*C STORE</a>
							<!--
							-->
						</li>
						<li class='dl'></li>
					</ul>
				</li>
				<li id='fairy_notes'>
					<h2><span class='css-br'>Fairy Notes </span>~once upon a time~</h2>
					<!--デザインの都合上改行していますが正式なタイトルは "Fairy Notes ~once upon a time~" です。-->
					<ul class='discMetadata'>
						<li class='demo'><iframe width="100%" height="166" scrolling="no" frameborder="no"
								allow="autoplay"
								src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/319227747&color=%2382b28e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
						</li>
						<li class='detail'><a href='https://ahc-fairynotes.tumblr.com/' target='_blank'>Fairy Notes
								~once upon a time~ - ああ…翡翠茶漬け…</a></li>
						<li class='release'><time>2017-04-30</time></li>
						<li class='place'>M3-2017春(I-15a)</li>
						<li class='circle'><span class='prefix'><a href='https://aiueoeiua.wixsite.com/a-hi-cha'
									target='_blank'>ああ…翡翠茶漬け…</a></span></li>
						<li class='resale'></li>
						<li class='dl'></li>
					</ul>
				</li>
				<li id='nameless_13'>
					<h2>Nameless 13</h2>
					<ul class='discMetadata'>
						<li class='demo'><iframe width="100%" height="166" scrolling="no" frameborder="no"
								allow="autoplay"
								src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/289682100&color=%2382b28e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
						</li>
						<li class='detail'></li>
						<li class='release'><time>2016-10-30</time></li>
						<li class='place'>M3-2016秋(M-08z)</li>
						<li class='circle'><span class='prefix'><a href='http://kireinasinwave.blogspot.com/'
									target='_blank'>きれいなsin波</a></span></li>
						<li class='resale'></li>
						<li class='dl'>
							<!--
								--><a href='https://booth.pm/ja/items/362429' target='_blank'>BOOTH</a><br>
							<!--
								--><a href='http://www.melonbooks.com/index.php?main_page=product_info&products_id=IT0000191329'
								target='_blank'>メロンブックス DL</a>
							<!--
							-->
						</li>
					</ul>
				</li>
			</ol>
		</div>
	</main>
