<div class="mx-auto py-12 max-w-7xl lg:py-24 min-h-screen">
  <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
    <div class="space-y-5 sm:space-y-4">
      <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">{{tag}}</h2>
    </div>
    <div class="lg:col-span-2">
      <ng-template [ngIfElse]="noContent" [ngIf]="blogs?.length">
        <div class="mt-6 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10">
          <ng-template [ngForOf]="blogs | orderBy: 'created_at': true | paginate: { itemsPerPage: 6, currentPage: page}"
                       let-data ngFor>
            <app-blog-card [data]="data"></app-blog-card>
          </ng-template>
        </div>
        <div class="text-center my-12">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </ng-template>

      <ng-template #noContent>
        <div class="animate__animated animate__fadeIn">
          <p class="text-2xl font-semibold text-gray-600">記事が見つかりませんでした</p>
          <div class="go-home w-fit">
            <a routerLink="/blog">ブログトップへ戻る</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
