<main>
  <h1>しなちくシステムについて</h1>
  <div class='bodyText'>
    <p>
      お疲れ様です。<br>
      しなちくシステムと申します。<br>
      趣味で作曲をしております。<br>
      好きな人には<strong>けもみみ</strong>と<strong>けもしっぽ</strong>が生えています。<br>
      最近はこういう曲を作りました↓<br>
    </p>

    <iframe frameborder="no" height="300" scrolling="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/959100382&color=%233c4a40&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
            width="100%"></iframe>
    <div
      style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
      <a href="https://soundcloud.com/thinaticsystem" style="color: #cccccc; text-decoration: none;" target="_blank"
         title="しなちくシステム(ThinaticSystem)">しなちくシステム(ThinaticSystem)</a> · <a
      href="https://soundcloud.com/thinaticsystem/gomamayo" style="color: #cccccc; text-decoration: none;"
      target="_blank"
      title="ゴママヨ">ゴママヨ</a></div>
    <p>
      好きな音楽は<a
      href='https://open.spotify.com/user/d1d4ivz1d01j5ah863c8x2yac/playlist/2SOQjonihwkZe0o7CF0V0g?si=SISvjzuwTIaVa4HF3qQKNA'>ここ(Spotifyプレイリスト)</a>にまとめております。<br>
      よろしくおねがいします。
    </p>
  </div>
  <h1>このサイトについて</h1>
  <div class='bodyText'>
    <p>
      しなちくシステムの公式サイトです。<br>
      <a href='/'>トップページ</a>のアニメーション、Mastodonのタイムライン埋め込みは<a href='https://pito.run/'>メカヲタ。</a>さんに手伝っていただきました。<br>
    <ul>
      <li>Mastodonタイムライン埋め込み</li>
      <a
        href='https://github.com/mecaota/Mastodon-Timeline-Peeping-Tool'>https://github.com/mecaota/Mastodon-Timeline-Peeping-Tool</a>
    </ul>
  </div>
</main>
