main {
  display: inline-block;
  width: 24rem;
  margin-left: calc(50vw - 24rem /2);
  margin-right: calc(50vw - 24rem /2);
  text-align: left;
  background-color: #C0C0B0;
}

ul {
  list-style: none;
  padding-left: 0;
}
