<div class="loading" [class.loaded]="!loadingService.loading">
  <div class="layer1"></div>
  <div class="layer2"></div>
  <img [src]="enviroment.cmsUrl + '/uploads/loading_2c53045083.gif'" alt="読込中...">
</div>


<div class="relative">
  <!-- スクリーンリーダー用 -->
  <span class="sr-only">このウェブサイトはスクリーンリーダーに対応しています</span>
  <div class="max-w-7xl mx-auto">
    <header>
      <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
        <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start">
          <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
            <div class="flex items-center justify-between w-full md:w-auto">

              <!-- ロゴリンク -->
              <a href="#">
                <!-- スクリーンリーダー用 -->
                <span class="sr-only">しなちくシステムの公式サイトです</span>
                <h1>ここにロゴ</h1>
              </a>

              <!-- モバイルメニュー開閉用ボタン -->
              <div class="-mr-2 flex items-center md:hidden">
                <button type="button" (click)="openMenu = true"
                        class="bg-white rounded-md p-2 inline-flex items-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-emerald-300">
                  <span class="sr-only">メニューを開きます</span>
                  <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                       viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M4 6h16M4 12h16M4 18h16"/>
                  </svg>
                </button>
              </div>

            </div>
          </div>

          <!-- PC用メニュー -->
          <div class="pc-menu">
            <button *ngFor="let link of headerLinks" (click)="navigate.go(link.url)">{{link.name}}</button>
          </div>
        </nav>
      </div>
    </header>

    <!-- モバイル用メニュー -->
    <div *ngIf="openMenu" (clickOutside)="openMenu = false" [delayClickOutsideInit]="true"
         class="absolute z-10 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden animate__animated animate__fadeIn">
      <div class="rounded-lg shadow-lg bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="px-5 pt-4 flex items-center justify-between">
          <div>
            <h1>ここにロゴ</h1>
          </div>
          <div class="-mr-2">
            <button type="button" (click)="openMenu = false"
                    class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-emerald-300">
              <!-- スクリーンリーダー用 -->
              <span class="sr-only">メニューを閉じます</span>
              <!-- Heroicon name: outline/x -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="mobile-menu">
          <a *ngFor="let link of headerLinks" [routerLink]="link.url" (click)="openMenu = false">{{link.name}}</a>
        </div>
      </div>
    </div>


    <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-8 lg:mt-10 lg:px-8 xl:mt-16 max-h-full">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<footer>
  <nav aria-label="footer">
    <ng-template ngFor [ngForOf]="footerLinks" let-link>
      <div>
        <a [href]="link.url" target="_blank">{{ link.name }}</a>
      </div>
    </ng-template>
  </nav>
  <p>&copy; {{ year }} しなちくシステム</p>
</footer>
