<div class="mx-auto py-12 max-w-7xl lg:py-24 min-h-screen">
  <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
    <div class="space-y-5 sm:space-y-4">
      <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Blog</h2>
    </div>
    <div class="lg:col-span-2">
      @let articles = blogs();
      @if (articles?.length) {
      <div class="mt-6 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10">
        @for (article of articles!
        | paginate: { itemsPerPage: ITEMS_PER_PAGE, currentPage: page,totalItems: totalItems() ?? undefined };
        track article.id
        ) {
        <app-blog-card [data]="article"></app-blog-card>
        }
      </div>
      <div class="text-center my-12">
        <pagination-controls (pageChange)="page = $event; loadPage($event)"></pagination-controls>
      </div>
      } @else {
      <div class="animate__animated animate__fadeIn">
        <p class="text-2xl font-semibold text-gray-600">まだ記事がありません</p>
        <div class="go-home w-fit">
          <a routerLink="/">サイトトップへ戻る</a>
        </div>
      </div>
      }
    </div>
  </div>
</div>
