main {
  margin: 0 calc(50vw - 24rem /2) 0 calc(50vw - 24rem /2);
  width: 24rem;

  > * {
    display: inline-block;
    vertical-align: top;
    width: 10rem;
  }
}

#info {
  margin-right: 4rem;

  > * {
    text-align: left;
  }
}

#infoHead {
  margin: 0 0 0.7rem 0;
  background-color: #e28e9e;
  font-size: 1.7rem;
  line-height: 2rem;
  color: #2f3535;
}

#infoBody {
  margin: 0;
  padding: 0;
  height: calc(80px*10rem/300px * 5 - (2rem + 1rem));
  overflow-y: scroll;
  line-height: 1.2;
  list-style-type: none;
  animation: fadein-anime 2s forwards; /* microCMSの取得遅延のストレス解消 */

  > li {
    &:before {
      content: "📣";
    }

    margin-bottom: 0.4rem;
    padding-left: 1.37rem;
    text-indent: -1.37rem;
    white-space: pre-line;
  }
}

.css-br::after {
  content: '\A';
  white-space: pre;
}

#linkList {
  margin: 0;
  padding: 0;
  list-style: none;

  img {
    vertical-align: bottom;
    width: 10rem;
    height: auto;
  }
}

#discordID {
  display: none;
}

#buttonCookieOk {
  vertical-align: center;
}

/* フェードイン */

.fadeout {
  opacity: 0.3;
  transition: all 300ms 0s ease-out;
}

/* フェードアウト */

.fadein {
  opacity: 1.0;
  transition: all 100ms 0s ease-in;
}

/* ページロードのフェードイン定義 */
@keyframes fadein-anime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
