// @tailwind base;
// @tailwind components;
// @tailwind utilities;

html {
  text-align: center;
  font-size: 1.2vw;
}

body {
  background-color: #E0E0D0;
  margin: 0;
}

header > .siteLogo {
  margin: 3rem auto 2rem auto;
  display: block;
  width: 24rem;
}

#shareButton {
  display: block;
  font-weight: bold;
  width: 24rem;
  margin: 1rem auto 0 auto;
  border: dashed 3px #E0E0D0;
  color: #e0e0e0;
  background-color: #46869e;
  cursor: pointer;
  user-select: none;
}

#shareText {
  display: none;
}

#pageList {
  margin: 0;
  padding: 0;
  list-style: none;

  > {
    * {
      display: inline-block;
      vertical-align: top;
      margin-right: 1rem;
    }

    li:last-child {
      margin-right: 0;
    }
  }
}

footer {
  animation: fadein-anime 2s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
  width: 24rem;
  text-align: left;
  margin: 2rem auto 3rem auto;
}

#siteInfo {
  margin: 0.5rem auto 0 auto;
  width: 24rem;
  text-align: left;

  > {
    * {
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: top;
    }

    .siteLogo {
      width: 7rem;
    }

    p {
      white-space: pre;
      font-size: 0.5rem;
      line-height: 1.1;
    }
  }
}

#cookieModal * {
  display: inline-block;
}

#cookieModal {
  font-size: 0.4rem;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: #051000C0;
  color: #E0E0E0;
}

#cookieModalText a {
  color: #A0A0E0;
}

@media (max-width: 1200px) {
  html {
    font-size: 3.4vw;
  }
}

/* ページロードのフェードイン定義 */
@keyframes fadein-anime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
